page-main-menu {
  .container {
    font-family: Helvetica;
    /*        background: #47C6E5;  */
    background: rgb(114, 168, 35);
  }
  #logo {
    transform: translateX(70vw);
  }

  button {
    background: #fff;	
  }

  .card {
    box-shadow: 5px 7px 15px #888888;
    height: 45vh;
    width: 100%;
    border-radius: 45px;
    margin-bottom: 10px;
    padding: 30px;
  }
  .card img {
    height: 20vh;
  }

  p {
    font-size: 2rem;
    font-family: Helvetica;
    /* color: rgb(108, 189, 69); */
    margin-left: 0;margin-right: 0;
    width: 100%;
    color: gray;
  }

  #nickname {
    position: absolute;
    font-size: 2rem;
    font-family: Helvetica;
    color: gray;
    margin: 5px;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

}
